<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<p>templates:</p>
{#    {% for project in datas %}#}
{#        <ol>#}
{#        <li>{{ project.name }}</li>#}
{#        </ol>#}
{#    {% endfor %}#}

<p>username:<input type="text" name="username" id="username"></p>
<p>password:<input type="password" name="password" id="password"></p>
<input type="submit" value="登录" id="login">

{#TODO:提交请求必须增加header:{"Authorization": localStorage.getItem("token")} #}
{#https://blog.csdn.net/qq_33437430/article/details/78783620#}
action="http://127.0.0.1:8000/user/upload/avatar/admin666/"
<form method="POST" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}
    <input type="file" name="img">
    <button type="submit" id="sub" onclick="submitImport()">上传</button>
</form>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    $("#login").click(function () {
        var username = $("#username").val();
        var password = $("#password").val();
        console.log(username);
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/user/login/",
            dataType: "json",

            data: {
                "username": username,
                "password": password
            },
            success: function (response) {
                console.log(response);
                sessionStorage.token = response.token;
                sessionStorage.username = response.username;
            }
        })
    });

    function submitImport() {
        $('#uploadForm').ajaxSubmit({
            type: 'post', // 提交方式 get/post
            url: 'http://127.0.0.1:8000/user/upload/avatar/', // 需要提交的 url
            headers: {"Authorization": localStorage.getItem("token")},
            success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                // 此处可对 data 作相关处理

                console.log(data)
            }
        });
        return false; // 阻止表单自动提交事件
    };

</script>
</html>
